
#clockContainer {
    position: relative;
    margin: auto;
    height: 768px;
    width: 768px;
    background: url(../images/clock.jpg) no-repeat;
    background-size: 100%;

}

#hour, #minute, #second{
    position: absolute;
    background: cyan;
    border-radius: 10px;
    transform-origin: bottom;
}  

#hour{
   height: 15%;
   width: 1.1%;
   top: 34.8%;
   left: 50%;
   opacity: 0.8;
   
}

#minute{
    height: 20%;
    width: 0.9%;
    top: 30%;
    left: 50%;
    opacity: 0.8; 

}

#second{
    height: 25%;
    width: 0.7%;
    top: 24.8%;
    left: 50%;
    opacity: 0,8;
}
